.login-image {
    background-image: url('/Frontend/img/Centro-de-SP-1\ 4\ \(1\).png'); /* substitua pela imagem da 25 de março */
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  